.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 14px;
}

.top h1 {
  margin: 0 0 6px;
  color: rgb(14, 32, 168);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top p {
  margin: 0 0 14px;
  color: #555;
}

.top .some-info {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 980px;
  top: 55px;
}

.some-info a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(39, 39, 253);;
  background-color: rgb(236, 255, 111);
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  border-color: #372cff;
  box-shadow: 1px 2px #444;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.some-info a:hover {
  transform: translateY(-2px)
}

.tipo-divider {
  margin-bottom: 25px;
}

.categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.categories button {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  background: rgb(236, 255, 111);
  box-shadow: 1px 2px #8d8b8b;
  cursor: pointer;
}

.categories button.active {
  border-color: #111;
  font-weight: 700;
}

.empty {
  padding: 18px;
  border: 1px dashed #ddd;
  border-radius: 14px;
  color: #444;
  background-color: white
}
